*{
  font-family: "Segoe UI";
}

body{
 overflow: hidden;
  padding: 0;
  margin: 0;
  background-color: white;

}
.p5Canvas{
  position: absolute;
}
.Unselectable {
   user-select: none; -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

#OutputWindow{
  position: fixed;
  right: 0;
  background-color: #222;
  height: 100vw;
  opacity: 1;
}

#OutputWindow *{
  color: white;
}

.CloseButton{
  font-size: 26px!important;
  border: none;
  display: inline-block;
  padding: 0px 14px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  color: #fff!important;
  background-color: transparent;
  position: absolute;
  right: 5px;
  top: 0;
}



.MatrixTable{
  float: left;
  box-shadow: none;
  margin:20px auto;
  font-size: 30px;
  border-collapse: collapse;;
  border: none;
}
.MatrixTable td{
  text-align: center;
  padding-left: 10px;
}


.MatrixTable  td:first-child{
  border: none;
  border-right: 1px solid black;
  margin-right: 10px;
}

.MatrixTable tr:first-child td{
  font-size: 50px;
  padding-right: 20px;
  border: none;
}
